
import(graphics)
import(stats)
import(lme4)
import(sp)
import(sf)
import(fasterize)
import(raster)
importFrom("grDevices", "grey","gray", "rainbow")
import(ggplot2)
import(ggforce)
import(reshape2)

S3method(print, Fsiland)
S3method(summary, Fsiland)
S3method(AIC, Fsiland)
S3method(BIC, Fsiland)
S3method(fitted, Fsiland)
S3method(residuals, Fsiland)
export(summary.Fsiland)
export(print.Fsiland)
export(AIC.Fsiland)
export(BIC.Fsiland)
export(fitted.Fsiland)
export(residuals.Fsiland)

export(Fsiland)
export(plotFsiland)
export(plotFsiland.land)
export(plotFsiland.sif)
export(Fsiland.quantile)
export(Fsiland.lik)
export(landtoraster)

S3method(print, Bsiland)
S3method(summary, Bsiland)
S3method(AIC, Bsiland)
S3method(BIC, Bsiland)
S3method(fitted, Bsiland)
S3method(residuals, Bsiland)
export(summary.Bsiland)
export(print.Bsiland)
export(AIC.Bsiland)
export(BIC.Bsiland)
export(fitted.Bsiland)
export(residuals.Bsiland)

export(Bsiland)
export(plotBsiland.land)
export(Bsiland.lik)
export(bufferforsiland)





